@font-face{
    font-family: "futura md bt";
    src: url("../../assets/font/Futura\ Bold\ BT.ttf");
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'futura md bt';
    color: white;
}
:root{
    --green:#00e0c0;
    --lightBlack:#0e0e0e;
    --gray:#13141a;
    --black:#131414;
}
body{
/*     background: rgb(5,5,5);
    background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgba(32,35,45,1) 30%); */
}

.containerFull{
    width: 100%;
}
.containerStatic{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/******** HEADER *********/
.header{
    z-index: 10;
    width: 100%;
    position: fixed;
}
.topHeader{
    width: 100%;
}
.topHeader .topHeaderWrapper{
    width: 100%;
    height: 100px;
}
.topHeader .topHeaderWrapper .navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.topHeader .topHeaderWrapper .navBar .fullName a{
    font-family: 'futura md bt';
    font-size: 30px;
    font-weight: bold;
    color: var(--green);
    text-shadow: 0px 0px 30px var(--green);
}
.topHeader .topHeaderWrapper .menu{
    display: flex;
    width: 310px;
    justify-content: space-between;
}
.topHeader .topHeaderWrapper .menu a:hover{
   text-decoration: underline;
}
.changeStyle{
    background-color: var(--gray);
}

.mainFull{
    height: 100vh;
}
.mainFull .contentMain{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainFull .contentMain .contentMainWrapper{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.mainFull .contentMain .contentMainWrapper .boxContent{
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
}
.mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect{
    width: 100%;
    max-width: 475px;
    height: 100%;
    max-height: 300px;
}
.mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect strong{
    color: #00e0c0;
}
.mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect .btnContacts{
    display: flex;
    margin-top: 25px;
}
.mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect .btnContacts .linkedin{
    margin-right: 50px;
    border: 1px solid #6A5ACD;
    box-shadow: 0px 0px 20px #6A5ACD;
    padding: 20px;
    border-radius: 10px;
}
.mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect .btnContacts .github{
    border: 1px solid #800080;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #800080;
}

.mainFull .contentMain .contentMainWrapper .boxContentImage{
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
}
.mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img{
    width: 100%;
    max-width: 500px;
    transition: transform 1s;
    transform: translateX(0) scale(0.9);
}
.mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img:hover,
.mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img:focus{
    transform: translateX(10px) scale(1.2);
}

.buttonAnchor{
    width: 100%;
}
/****** efeito de digitação ******/
h3{
    font-size: 40px;
}
h3::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }    
}
/****** end efeito de digitação ******/
/******** END HEADER ********/

/******** ABOUT ME **********/
.about{
    width: 100%;
    background-color: var(--gray);
    display: flex;
    align-items: center;
}
.about .aboutWrapper{
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.about .aboutWrapper .box-about{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about .aboutWrapper .box-about .boxAboutImg{
    width: 100%;
    max-width: 400px;
    border-right: 2px solid red;
}

.about .aboutWrapper .box-about .boxAboutText{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about .aboutWrapper .box-about .boxAboutText .titleAboutText h1,
.about .aboutWrapper .box-about .boxAboutText .titleAboutText h2    {
    margin-bottom: 30px;
}
.about .aboutWrapper .box-about .boxAboutText .btnDownload{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.about .aboutWrapper .box-about .boxAboutText .btnDownload button{
    border: 1px solid white;
    padding: 10px;
    background-color: var(--green);
    box-shadow: 0px 0px 15px var(--green);
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.about .aboutWrapper .box-about .boxAboutText .btnDownload button i{
    font-size: 20px;
    margin-right: 10px;
    color: var(--black);
}
.about .aboutWrapper .box-about .boxAboutText .btnDownload button h2{
    color: var(--black);
}
.flipTime{
    transform: rotateY(180deg);
}
    
.card{
    position: relative;
    height: 300px;
    width: 320px;
    margin: 5px;
    perspective: 1000px;
}
.card:hover .flip{
    transform: rotateY(180deg);
}
.card .flip{
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
}
.back-card{
    transform: rotateY(180deg);
    width: 320px;
    background-color: var(--lightBlack);
}
.back-card .back{
    border-radius: 15px;
    border: 1px solid var(--green);
    box-shadow: 0px 10px 10px var(--green);
    width: 280px;
    height: 260px;
    padding: 20px;
}
.back .name,
.back .age,
.back .city,
.back .email{
    margin-bottom: 20px;
}
.back .name h2,
.back .age h2,
.back .city h2,
.back .email h2{
    text-shadow: 0px 0px 15px white;
}
.back .name p,
.back .age p,
.back .city p,
.back .email p{
    color: var(--green);
    text-shadow: 0px 0px 15px var(--green);
}
.front-card img{
    width: 320px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid var(--green);
    box-shadow: 0px 10px 10px var(--green);
}
/***** END ABOUT ME **********/

/***** EXPERIÊNCIAS *********/
.experiencias{
    border-bottom: 5px solid var(--gray);
}
.exp{
    padding: 30px 0;
}
.exp .expWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.exp .expWrapper .titleExp{
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid red;
    max-width: 400px;
}
.exp .expWrapper .titleExp h2{
    font-size: 40px;
    color: var(--green);
    text-shadow: 0px 0px 15px var(--green);
}
.exp .expWrapper .contentExp{
    width: 100%;
    max-width: 800px;
    margin-left: 40px;
}
.exp .expWrapper .contentExp ul li{
padding-bottom: 25px;
    list-style: disc;
}
.exp .expWrapper .contentExp ul li h1{
    text-shadow: 0px 0px 15px white;
}
.exp .expWrapper .contentExp ul li::marker{

    color: var(--green);
}
/* .exp .expWrapper .contentExp .boxExpOne,
.exp .expWrapper .contentExp .boxExpTwo,
.exp .expWrapper .contentExp .boxExpThree{
    padding: 15px 0;
} */
/***** END EXPERIÊNCIAS *********/

/***** GALERIA ********/
.projetos{
    width: 100%;
    height: auto;
}
.projetos .projetosWrapper{
    width: 100%;
    height: auto;
    margin: 50px 0 50px 0;
}
.projetos .projetosWrapper .titleGallery{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    text-shadow: 0px 0px 15px white;
}
.projetos .projetosWrapper .column-one{
    width: 100%;
    height: auto;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper .swiper-wrapper{
    height: auto;
}
/**** slide *****/
.swiper-slide {
text-align: center;
font-size: 18px;
padding-bottom: 50px;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-slide .boxSlide{
    width: 260px;
    height: 100%;
    border-radius: 11px;
}
.swiper-slide .boxSlide .descriptionImg p{
    color: var(--green);
}
.swiper-slide .boxSlide .descriptionImg p,
.swiper-slide .boxSlide .descriptionImg h2{
    margin-top: 20px;
}
.swiper-slide img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 8px 8px 10px var(--green);
}
.swiper-pagination-bullet{
    background: white!important;
}
.swiper-pagination-bullet-active{
    background: var(--green)!important;
}
/**** end slide *****/
/***** END GALERIA ********/

/***** FOOTER *****/
.footer{
    width: 100%;
    background-color: var(--gray);
}
.footer .footerWrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer .footerWrapper .boxFooterOne{
    width: 100%;
    max-width: 250px;
}
.footer .footerWrapper .boxFooterTwo{
    width: 100%;
    max-width: 65px;
}
.footer .footerWrapper .boxFooterThree{
    width: 100%;
    max-width: 170px;
}
.footer .footerWrapper .boxFooterOne .boxFooterImg{
    width: 100%;
    max-width: 250px;
    height: 250px;
}
.footer .footerWrapper .boxFooterOne .boxFooterImg img{
    width: 100%;
    object-fit: cover;
    border-radius: 150px;
    box-shadow: 0px 10px 20px var(--green);
    height: 100%;
}
.footer .footerWrapper .titleFooter{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 15px white;
}
.footer .footerWrapper .titleFooter a h2{
    font-size: 30px;
    color: var(--green);
}
.footer .footerWrapper .boxFooterTwo ul li,
.footer .footerWrapper .boxFooterThree ul li{
    padding-top: 30px;
}
.footer .footerWrapper .boxFooterTwo ul li a:hover,
.footer .footerWrapper .boxFooterThree ul li a:hover{
    text-decoration: underline;
}
.footer .footerWrapper .boxFooterThree ul li a i{
    margin-right: 10px;
}
/***** END FOOTER *****/

/****** BOTÃO FLUTUANTE **********/
.botaoFlutuante{
    position: fixed;
    right: 5%;
    bottom: 10%;
    box-shadow: 0px 0px 15px var(--green);
    border-radius: 5px;
    width: 100%;
    max-width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--green);
}
.botaoFlutuante .btnWhats{
    display: flex;
}
.botaoFlutuante .btnWhats .btnText{
    margin-right: 10px;
}
.botaoFlutuante .btnWhats .btnText h2{
   color: var(--lightBlack);
}
.botaoFlutuante .btnWhats .btnIcon img{
   width: 30px;
}
/****** END BOTÃO FLUTUANTE **********/

@media (max-width: 860px){
    .topHeader .topHeaderWrapper .navBar{
        padding: 0 20px;
    }
    .topHeader .topHeaderWrapper .navBar .fullName{
        margin-right: 20px;
    }
    .topHeader .topHeaderWrapper .navBar .fullName a{
        font-size: 20px;
    }
    .topHeader .topHeaderWrapper .menu .nome a{
        font-size: 16px;
    }
    .mainFull{
        height: auto;
    }
    .mainFull .contentMain .contentMainWrapper{
        flex-direction: column-reverse;
        height: 100vh;
        padding:0 20px;
    }
    .mainFull .contentMain .contentMainWrapper .boxContent{
        height: 455px;
    }
    .mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect .box-text h3{
        font-size: 35px;
    }
    .mainFull .contentMain .contentMainWrapper .boxContent .textApresentattion .textEfect .btnContacts{
        display: flex;
        justify-content: space-between;
    }
    .mainFull .contentMain .contentMainWrapper .boxContentImage{
        height: auto;
    }
    .mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img{
        max-width: 365px;
    }
    .mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img:hover, 
    .mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img:focus,
    .mainFull .contentMain .contentMainWrapper .boxContentImage .boxImage .boxWrapper img{
        transition: none;
        transform: none;
    }
    .about .aboutWrapper .box-about{
        /* display: block; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .aboutWrapper .box-about .boxAboutText .titleAboutText,
    .about .aboutWrapper .box-about .boxAboutText p{
        padding: 0 20px;
        text-align: center;
    }
  
    .about .aboutWrapper .box-about .boxAboutImg{
        border: none;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
    .exp{
        padding: 30px;
    }
    .exp .expWrapper{
        display: block;
    }
    .exp .expWrapper .titleExp{
        border-right:none;
        justify-content: center;
        height: auto;
        margin-bottom: 20px;
    }
    .exp .expWrapper .contentExp{
        margin-left: 0;
    }
    /* .card{
        margin-left: 10%;
    } */
    .footer .footerWrapper{
        display: block;
        padding: 30px 20px;
    }
    .footer .footerWrapper .boxFooterOne{
        width: 100%;
        max-width: unset;
        display: flex;
        justify-content: center;
    }
    .footer .footerWrapper .boxFooterOne,
    .footer .footerWrapper .boxFooterTwo,
    .footer .footerWrapper .boxFooterThree{
        margin-bottom: 20px;
    }
    .footer .footerWrapper .titleFooter{
        justify-content:flex-start;
    }
    .swiper-slide{
        display: flex !important;
    }
}
